<div class="jumbotron">
  <h1>C-CDA Scorecard</h1>
  <!--<h1 style="font-size: 250%">(Beta Release)</h1>-->  
</div>

<div class="container">

  <div markdown-src="{{siteUiData.contentURL}}CCDAScorecardTopLevelIntroduction.md"></div>
  <br />
  <site-upload-form></site-upload-form>  
  
  <!--try me button-->
  <!--
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-xs-6">                            
        <button ng-click="tryScorecard()" id="scTryMe"
          class="btn btn-success btn-block start" data-toggle="modal"
          data-target="#resultModal" tabindex="1" type="button">
          <span>Try Me!</span>
        </button>
      </div>                           
      <div class="col-md-6 col-xs-6">
        <select
          ng-init="selectedTryMeDoc = selectedTryMeDoc || tryMeData.tryMeDocs[0]"
          ng-model="selectedTryMeDoc"
          ng-options="doc as doc.value for doc in tryMeData.tryMeDocs"
          id="tryMeSampleSelector" class="form-control" tabindex="1">
        </select>
      </div>
    </div>                            
  </div>
  -->
  <br />
  
  <div class="panel panel-info" style="margin-bottom: 34px">
    <div class="panel-heading">
      <h2 class="panel-title" style="font-size: 150%">Latest Feature "Showcase"</h2>
    </div>
    <div class="panel-body">
      <div markdown-src="{{siteUiData.contentURL}}CCDAScorecardShowcase.md"></div>
      <p>Note: For further information on how to use the "One-Click" Scorecard service, please click 
        <a data-toggle="modal" data-target="#siteApiInstructionsModal" 
          id="siteApiInstructionsLink" href="javascript:void(0)">here</a>.
      </p>
    </div>
  </div>
  
  <h2>Rules and Scoring Criteria</h2>  
  <div markdown-src="{{siteUiData.contentURL}}CCDAScorecardResultsInterpretation.md"
       style="margin-bottom: 28px"></div>
  
  <h2> Scorecard APIs and External Tools</h2>
  <div markdown-src="{{siteUiData.contentURL}}CCDAScorecardApiAndExternalTool.md"></div>	
  <br />

</div>
